{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3 p-0">
        <div class="contacts1_text">
            <h3 class="contact1h3">Équipe commerciale<span class="contact1span"> {{ nb_users }}</span></h3>
        </div>
    </div>
    <div class="col-md-6">

    </div>

    </div>


    <!--    table-->
    <!--   ..............-->
    <!--   ....   -->
    <div class="row">
        <div class="col-12">
            <!--       data tables-->


            <div class="hero-callout">
                <div id="example_wrapper" class="dataTables_wrapper">

                    <table id="myTable" class="display nowrap dataTable dtr-inline collapsed table table-bordered my-3"
                           style="width: 100%;" role="grid" aria-describedby="example_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 20px;" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck" checked>
                                    <label class="custom-control-label" for="customCheck"></label>
                                </div>
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Prénom</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">Nom</th>
                            <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Age: activate to sort column ascending">Fonction</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Start date: activate to sort column ascending">Zoneaffectée</th>
                            <th class="sorting commerciale_enterprise_th" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Office: activate to sort column ascending">Entreprise</th>
                            <th class="sorting commerciale_contact_th" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Start date: activate to sort column ascending">Contacts</th>
                            <th class="sorting commerciale_score_th" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Start date: activate to sort column ascending">Score</th>
                            <th class="sorting phone_th" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Start date: activate to sort column ascending"><i class="fas fa-ellipsis-h"></i></th>

                        </tr>
                        </thead>
                        <tbody>
                        <!-- <tr role="row" class="odd">
                            <td>
                                <div class="custom-control custom-checkbox ml8">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>
                            <td><img class="img-fluid tableinsideimg" src="img/bohdan.png" alt="">Christophe</td>
                            <td>BOULANGER</td>
                            <td>Directeur commercial</td>
                            <td>Picardie</td>
                            <td>
                                <div class="commerciale_enterprise_td">
                                    48
                                </div>
                            </td>
                            <td>
                                <div class="enterprise_contact_td">
                                    56
                                </div>
                            </td>
                            <td>
                                <div class="commerciale_score_td">
                                    60
                                </div>
                            </td>
                            <td class="table_phone"><a href="#">@</a> <a href="#"><i class="fas fa-phone"></i></a></td>
                        </tr> -->
                        {% for user in users %}
                        <tr role="row" class="odd">
                            <td>
                                <div class="custom-control custom-checkbox ml8">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>
                            <td><a href="/admin/user/edit/{{ user.id }}">{{ user.userFirstName }}</a></td>
                            <td>{{ user.userLastName }}</td>
                            <td>{{ user.role.libelle }}</td>
                            <td>{{ user.area.activityArea }}</td>
                            <td>
                                <div class="commerciale_enterprise_td">
                                    {% if user.getCompanies()|length > 0 %}
                                        {{ user.getCompanies()|length }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="enterprise_contact_td">
                                    {% if user.getCompanies()|length <= 0 %}
                                        {{ user.getCompanies()|length }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <div class="commerciale_score_td">
                                    0
                                </div>
                            </td>
                            <td class="table_phone"><a href="mailto:{{ user.getUserEmail() }}">@</a> <a href="#"><i class="fas fa-phone"></i></a></td>
                        </tr>
                        {% endfor %}
                        <!--
                                            <tr role="row" class="odd">
                                                <td tabindex="0" class="sorting_1" style="">Ashton Cox</td>
                                                <td>Junior Technical Author</td>
                                                <td>San Francisco</td>
                                                <td class=" dt-body-right" style="">66</td>
                                                <td style="">2009/01/12</td>
                                                <td class=" dt-body-right" style="display: none;">$86,000</td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1" tabindex="0">Bradley Greer</td>
                                                <td>Software Engineer</td>
                                                <td>London</td>
                                                <td class=" dt-body-right" style="">41</td>
                                                <td style="">2012/10/13</td>
                                                <td class=" dt-body-right" style="display: none;">$132,000</td>
                                            </tr>

-->
                        </tbody>
                        <!--
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">Name</th>
                                                <th rowspan="1" colspan="1">Position</th>
                                                <th rowspan="1" colspan="1">Office</th>
                                                <th class="dt-body-right" rowspan="1" colspan="1" style="">Age</th>
                                                <th rowspan="1" colspan="1" style="">Start date</th>
                                                <th class="dt-body-right" rowspan="1" colspan="1" style="display: none;">Salary</th>
                                            </tr>
                                        </tfoot>
-->
                    </table>
                    <!--
                                </div>
                            </div>


                            <!-- tables-->

                </div>
            </div>
            <div class="row py-4">
                <div class="col-md-4 div-options-list">
                    <div class="row mb-5">

                        <div class="col-md-8">

                            <div class="listline">
                                <ul id="menu">
                                    <li><a href="#"><i class="fas fa-trash"></i></a></li>
                                    <li><a href="#"><i class="fas fa-download"></i></a></li>
                                    <li><a href="#"><i class="fas fa-user-plus"></i></a></li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--
                            <nav style="    padding: 0px 30px;" aria-label="Page navigation example pagi">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
-->
                </div>
                <div class="col-md-4 div-btn-add">
                    <div class="pagibutton">
                        <a href="/admin/user/new">
                            <button type="button" class="btn btn-primary">AJOUTER</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
