{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3 p-0">
        <div class="contacts1_text">
            <h3 class="contact1h3">Opérations <span class="contact1span"> ({{ totalOperations }})</span></h3>
        </div>
    </div>
    <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="hero-callout">
                <div id="example_wrapper" class="dataTables_wrapper">

                    <table id="myTable" class="display nowrap dataTable dtr-inline collapsed table table-bordered my-3"
                           style="width: 100%;" role="grid" aria-describedby="example_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 20px;" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">
                                <div class="custom-control custom-checkbox ">
                                    <input type="checkbox" class="custom-control-input" id="customCheck" checked>
                                    <label class="custom-control-label" for="customCheck"></label>
                                </div>
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 190px;" aria-label="Position: activate to sort column ascending">Nom de
                                l'opération
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 80px;" aria-label="Office: activate to sort column ascending">Date de
                                création
                            </th>

                            <th class="sorting commerciale_enterprise_th" tabindex="0" aria-controls="example"
                                rowspan="1" colspan="1" style="width: 80px;"
                                aria-label="Start date: activate to sort column ascending">Entreprises ciblées
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 100px;" aria-label="Start date: activate to sort column ascending">
                                Contacts ciblés
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 120px;" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">Auteur
                            </th>
                            <th class="sorting enterprise_status_th" tabindex="0" aria-controls="example" rowspan="1"
                                colspan="1" style="width: 80px;"
                                aria-label="Start date: activate to sort column ascending">Statut
                            </th>
                            <th class="dt-body-right sorting enterprise_contact_th" tabindex="0" aria-controls="example"
                                rowspan="1" colspan="1" style="width: 100px;"
                                aria-label="Age: activate to sort column ascending">Mises à jour
                            </th>
                            <th class="sorting phone_th" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                style="width: 50px;" aria-label="Start date: activate to sort column ascending"><i
                                        class="fas fa-ellipsis-h"></i></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for row in operations %}
                            <tr role="row" class="odd">
                                <td>
                                    <div class="custom-control custom-checkbox ml8">
                                        <input type="checkbox" class="custom-control-input"
                                               id="company-check-{{ row.id }}" value="{{ row.id }}"
                                               name="company-check[]">
                                        <label class="custom-control-label"
                                               for="company-check-{{ row.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ path('app_admin_operation_edit', {'id': row.id}) }}">{{ row.operationName }}
                                    </a></td>
                                {#<td>{{ row.operationCode }}</td>#}
                                <td>{{ row.operationCree|date('d/m/Y') }}</td>
                                <td>12</td>
                                <td>52</td>
                                <td>{{ row.operationAuthor }}</td>
                                <td>{% if row.operationStatut == 1 %}
                                        <div class="operation_table_status">
                                            Actif
                                        </div>
                                    {% elseif row.operationStatut == 0 %}
                                        <div class="operation_table_status2">
                                            Inactif
                                        </div>
                                    {% endif %}
                                </td>
                                <td>1</td>
                                <td class="table_phone">
                                    <a href="mailto:{{ row.operationEmail }}">@</a>
                                    <a href="tel:{{ row.operationFixe }}"><i class="fas fa-phone"></i></a>
                                </td>
                                {#<td>#}
                                {#<a href="{{ path('app_admin_operation_edit', {'id': row.id}) }}"#}
                                {#class="btn btn-sm btn-info"><i class="fas fa-edit"></i></a>#}
                                {#<a href="{{ path('app_admin_operation_delete', {'id': row.id}) }}"#}
                                {#class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>#}
                                {#</td>#}
                            </>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-md-4 div-options-list">
                    <div class="row mb-5">
                        <div class="col-md-8">
                            <div class="listline">
                                <ul id="menu">
                                    {#<a href="{{ path('app_admin_operation_delete', {'id': row.id}) }}"#}
                                    {#class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>#}
                                    <form id="form-delete-operation" name="delete-operation" method="post"
                                          action="/admin/operation/delete-select">
                                        <input id="operations" type="hidden" name="operations">
                                    </form>
                                    <li><a id="delete-select-operation" href="#"><i class="fas fa-trash"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 div-btn-add">
                    <div class="pagibutton">
                        <a href="{{ path('app_admin_operation_new') }}">
                            <button type="button" class="btn btn-primary">AJOUTER</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
