{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .cross {
            color: white;
            background: grey;
            padding: 0px 5px 0px 5px;
            border-radius: 4px;
            font-weight: bold;
        }

        .plus {
            color: white;
            background: red;
            padding: 0px 5px 0px 5px;
            border-radius: 4px;
            font-weight: bold;
        }
    </style>

    <div class="col-md-12 left_border contact1_background_col9">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="contacts1_text">
                    <h3 class="contact1h3">Opération</h3>
                </div>
            </div>
        </div>

        {% for msg in app.session.flashbag.get('email_sent_true') %}
            <div class="alert alert-success">{{ msg|raw }}</div>
        {% endfor %}
        {% for msg in app.session.flashbag.get('email_sent_false') %}
            <div class="alert alert-danger">{{ msg|raw }}</div>
        {% endfor %}

        <div class="contact_form ">
            <div class="row justify-content-center ml-0 mr-0 mb-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="contact2_saisieh3 pt-4 ml-5">{{ operation.OperationName }}, <span class="contact3span">{{ totalEmails }} destinataires</span></h3>
                        </div>
                        <div class="col-md-6">
                            <div class="row form_right_active_text">
                                <div class="col-md-3"></div>
                                <div class="col-md-2 text-right mt-3 hide"><span> à jour </span></div>
                                <div class="col-md-4 p-0 mt-3">
                                    <span>Créée le {{ operation.OperationCree|date('d-m-Y') }}</span>
                                </div>
                                <div class="col-md-3 mt-3">
                                    <div class="custom-control custom-switch">
                                        <div class="form-check">
                                            <input type="checkbox" id="operation_operation_statut" class="custom-control-input form-check-input" value="1">
                                            <label class="custom-control-label form-check-label" for="operation_operation_statut"></label>
                                        </div>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-4 pb-5">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="contact_formnav">
                                <div class="contact_formnav">
                                    <nav class="nav">
                                        <a class="nav-link" href="{{ path('app_admin_operation_edit', {'id': operationId}) }}">Informations</a>
                                        <a class="nav-link" href="{{ path('emailTemplateAndPage', {id:operationId}) }}">Paramétrage</a>
                                        <a class="nav-link active" href="{{ path('sendEmailView', {id:operationId}) }}">Contacts ciblés
                                            {#                                                    <span class="enterprise3_form_a"> 3 </span>#}
                                        </a>
                                        <a class="nav-link " href="#">Résultats</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="row rounded border">
                        <div class="col-md-12 pt-4 pb-2"></div>
                        <div class="col-md-12">
                            <div class="row" id="mainFilter" style="margin-bottom: 15px">
                                <div class="col-md-3 input_select_main ">
                                    <div class="form-group matier_select">
                                        <select id="filterType" class="form-control filterType">
                                            <option value="contact">Contact</option>
                                            <option value="company">Company</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 input_select_main">
                                    <div class="form-group matier_select">
                                        <select id="filterFields" class="form-control filterFields">
                                            {{ contactsOptions|raw }}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 input_select_main ">
                                    <input type="text" id="filterValue" class="form-control filterValue">
                                </div>
                                <div class="col-md-1 actionBtn" style="margin-top: 7px;">
                                    <a href="javascript:void(0)" id="addFilter" class="plus">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="filterResulBox">
                            {% if emailsList %}
                                {{ emailsList.emailsList|raw }}
                            {% else %}
                                <p style="margin-top: 25px;font-weight: bold" id="resultText"></p>
                            {% endif %}
                        </div>

                        <div class="col-md-12 pt-5">
                            <div class="row py-4">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                    <div class="enregisterbutton">
                                        <button type="button" id="sendEmail" class="btn btn-primary btn">Envoyer le mail
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="{{ path('sendEmailList') }}" id="sendEmailForm" method="post" style="display: none">
            <input type="hidden" name="emails" id="emails">
            <input type="hidden" name="contactEmails" id="contactEmails">
            <input type="hidden" name="companyEmails" id="companyEmails">
            <input type="hidden" name="emailsHtml" id="emailsHtml">
            <input type="hidden" name="operationId" value="{{ operationId }}">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const contactsOptions = "{{ contactsOptions|raw }}";
            const companyOptions = "{{ companyOptions|raw }}";
            $('body').on('change', '.filterType', function () {
                if ($(this).val() == 'contact') {
                    $(this).closest('.row').find('.filterFields').html(contactsOptions);
                } else {
                    $(this).closest('.row').find('.filterFields').html(companyOptions);
                }
            });

            $('#addFilter').click(function () {
                const value = $.trim($('#filterValue').val());
                if (value) {
                    const filterType = $('#filterType');
                    const filterFields = $('#filterFields');

                    // const html = '<div class="filteredRow" style="margin-top: 15px;"> <div class="row"> <div class="col-md-3 input_select_main "> <div class="form-group"> <input type="text" value="' + filterType.find('option:selected').text() + '" class="form-control" disabled> </div> </div> <div class="col-md-4 input_select_main"> <div class="form-group"> <input type="text" value="' + filterFields.find('option:selected').text() + '" class="form-control" disabled> </div> </div> <div class="col-md-4 input_select_main "> <input type="text" value="' + value + '" class="form-control" disabled> </div> <div class="col-md-1" style="margin-top: 7px;"> <a href="javascript:void(0)" class="removeFilter cross">x</a> </div> </div> </div>';
                    // $('#resultText').before(html);

                    $.post('{{ path('getEmailList') }}', {
                        filterType: filterType.val(),
                        filterFields: filterFields.val(),
                        filterValue: value,
                    }, function (response) {
                        if (response != 'no') {
                            const $original = $('#mainFilter');
                            const $cloned = $original.clone();

                            const $originalSelects = $original.find('select');
                            $cloned.find('select').each(function (index, item) {
                                //set new select to value of old select
                                $(item).val($originalSelects.eq(index).val()).attr('disabled', 'disabled');
                            });

                            $cloned.find('.filterValue').attr('disabled', 'disabled');
                            $cloned.find('.actionBtn').html('<a href="javascript:void(0)" class="removeFilter cross">x</a>');

                            const arr = [];
                            const data = $.parseJSON(response);
                            $.each(data, function (i, item) {
                                arr.push(item.email);
                            });

                            $cloned.insertAfter('#resultText').append("<input class='emailList " + filterType.val() + "' type='hidden' value='" + arr + "'>");
                            showRecipientText();
                        } else {
                            alert('Pas de mail trouvé avec ce filtre');
                        }
                    });
                } else {
                    alert('Entrez une valeur dans le champs');
                }
            });
            $('body').on('click', '.removeFilter', function () {
                $(this).closest('.row').remove();
                showRecipientText();
            });

            function unique(array) {
                return array.filter(function (el, index, arr) {
                    return index === arr.indexOf(el);
                });
            }

            $('#sendEmail').click(function () {
                const emails = unique(getTotalRecipient());
                if (emails.length > 0) {
                    const contactEmails = getUniqueRecipientByType('contact');
                    const companyEmails = getUniqueRecipientByType('company');
                    let contactCount = 0;
                    let companyCount = 0;

                    if (contactEmails.length > 0) {
                        contactCount = contactEmails.length;
                    }
                    if (companyEmails.length > 0) {
                        companyCount = companyEmails.length;
                    }

                    $('#contactEmails').val(contactCount);
                    $('#companyEmails').val(companyCount);
                    $('#emailsHtml').val($('#filterResulBox').html());
                    $('#emails').val(emails);
                    $('#sendEmailForm').submit();
                }
            });

            function getTotalRecipient() {
                let emailArray = [];
                $('.emailList').each(function () {
                    const array = $(this).val().split(",");
                    $.each(array, function (i) {
                        emailArray.push(array[i]);
                    });
                });

                return emailArray;
            }

            function getUniqueRecipientByType(type) {
                let emailArray = [];
                $('.' + type).each(function () {
                    const array = $(this).val().split(",");
                    $.each(array, function (i) {
                        emailArray.push(array[i]);
                    });
                });

                return unique(emailArray);
            }

            function showRecipientText() {
                const total = getTotalRecipient().length;
                const uniqueEmail = unique(getTotalRecipient()).length;
                $('#resultText').html(`<span style="color: red">${uniqueEmail}</span> contacts destinaitres apres dedoublonnages<span style="color: red"> ${(total - uniqueEmail)}</span>`);
            }
        });
    </script>

{% endblock %}
