{% extends 'login.html.twig' %}

{% block body %}
    <section class="login_section1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="engine">
                        <img class="img-fluid" src="{{ asset("assests/img/photo3.png") }}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row justify-content-center login_logonfrom2 ">
                        <div class="col-md-5 ">
                            <div class="login_logonfrom">
                                <div class="login_logo">
                                    <img class="img-fluid w-75" src="{{ asset("assests/img/logo.png") }}" alt="">

                                </div>
                                <div class="login_rightform">
                                    <form class="login_form" style="max-width:500px;margin:auto" method="post">

                                        {% for msg in app.session.flashbag.get('ALERT_SUCCESS') %}
                                            <div class="alert alert-success">{{ msg|raw }}</div>
                                        {% endfor %}
                                        {% for msg in app.session.flashbag.get('ALERT_ERROR') %}
                                            <div class="alert alert-danger">{{ msg|raw }}</div>
                                        {% endfor %}

                                        <p>Mot de passe oublié</p>

                                        <div class="input-container login_input_container">
                                            <i class="fas fa-user login_icon"></i>
                                            {{ form_widget(form.tmpEmail, {'attr': {'placeholder': 'Email', 'class': 'input-field login_input_field'}}) }}
                                            {{ form_errors(form.tmpEmail) }}
                                        </div>
                                        {{ form_rest(form) }}
                                        <button type="submit" class="btn login_button">Réinitialiser</button>
                                        <div class="login_buttonp">
                                            <p><a href="{{ path('app_login') }}">Retour</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login_copyright">
                        <h5>
                            <span class="spanh5"> Smartleads © tous droits réservés | </span>Contactez le support
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
