<div class="col-md-12 block-note hide">
   <div class="col-md-12">
          <div class="row">
                 <!-- col1-->
                 <div class="col-md-4">
                        <div class="row py-2 contact4col1_border mr-0">
                               <div class="col-md-12">
                                      <div class="contact4col1c1">
                                             <span class="contact4col1c1span1">{{totalNote}} </span>
                                             <span class="contact4col1c1span2">notes</span>
                                             <span class="contact4col1c1span2 float-right">Par date de création</span>
                                      </div>
                               </div>
                               <div class="col-md-12">
                                      <div class="contact_overflow_scroll">
                                        {% for note in noteListe %}
                                             <div class="contact4comment" onclick="init_note('{{ note.id }}')">
                                                    <p class="commenttitle p-0 m-0">{{ note.dateCreation |date('d-m-Y') }} - <span class="contact4col1c1span2">{{ note.categorieNote }}</span> | {{ note.prioriteNote }} </p>
                                                    <p class="commentcontent m-0">
                                                    {% autoescape %}
                                                        {{ note.description|raw }}
                                                    {% endautoescape %}
                                                    </p>
                                             </div>                                        
                                        {% endfor %}                                             
                                      </div>
                               </div>
                        </div>
                 </div>
                 <div class="col-md-8 contact4col1_border">
                        <div class="row">
                               <div class="col-md-12">
                                      <div class="contact4col2h1">
                                             <h1>Ajouter une note</h1>
                                      </div>
                               </div>
                        </div>
                        <div class="row form_client">
                               <div class="col-md-12">
                                {{ form_start(formNote) }}
                                             <div class="row pt-3">
                                                    <div class="col-md-12  prenom_input form-group ">
                                                      {{ form_widget(formNote.title) }}
                                                      {{ form_errors(formNote.title) }}
                                                    </div>
                                             </div>
                                             <div class="row pt-3">
                                                    <div class="col-md-3">
                                                           <div class="form-group contact4date_client">
                                                           <p>Date de création</p>
                                                           {{ form_widget(formNote.dateCreation) }}
                                                           {{ form_errors(formNote.dateCreation) }}
                                                           </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                           <div class="form-group contact4date_client">
                                                                <p>Date d'échéance </p>
                                                                {{ form_widget(formNote.dateEcheance) }}
                                                                {{ form_errors(formNote.dateEcheance) }}
                                                           </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                           <br>
                                                           <div class="contact4_custom_control custom-checkbox align-item">
                                                                  {{ form_widget(formNote.rappel_email) }}
                                                                  {{ form_errors(formNote.rappel_email) }}
                                                                  <span class="contact4checkboxSapn">Rappel par email:</span>
                                                           </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                           <div class="form-group avant_select">
                                                                  <p>Echéance</p>
                                                                  {{ form_widget(formNote.echeance_note) }}
                                                                  {{ form_errors(formNote.echeance_note) }}
                                                           </div>
                                                    </div>
                                             </div>
                                             <div class="row pt-3">
                                                    <div class="col-md-4">
                                                           <div class="form-group avant_select">
                                                                  <p>Affecté à </p>
                                                                  {{ form_widget(formNote.user) }}
                                                                  {{ form_errors(formNote.user) }}
                                                           </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                           <div class="form-group avant_select">
                                                                  <p>Catégorie</p>
                                                                  {{ form_widget(formNote.categorie_note) }}
                                                                  {{ form_errors(formNote.categorie_note) }}
                                                           </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                           <div class="form-group avant_select">
                                                                  <p>Priorité</p>
                                                                  {{ form_widget(formNote.priorite_note) }}
                                                                  {{ form_errors(formNote.priorite_note) }}
                                                           </div>
                                                    </div>
                                             </div>
                                             <div class="row py-5">
                                                    <div class="col-md-12">
                                                           {{ form_widget(formNote.description) }}
                                                           {{ form_errors(formNote.description) }}
                                                           <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
                                                           <script>
                                                           tinymce.init({
                                                           selector: '#note_description'
                                                           });
                                                           </script>
                                                    </div>
                                             </div>
                                             <div class="row">
                                                    <div class="col-md-12 pb-5">
                                                           <div class="row ">
                                                                  <div class="col-lg-6"></div>
                                                                  <div class="col-lg-6">
                                                                         <div class="row">
                                                                                <div class="col-lg-5 col-md-5">
                                                                                       <div class="annulerbutton3">
                                                                                              <a href="/admin/company/list"><button type="button" class="btn btn-primary">ANNULER</button></a>
                                                                                       </div>
                                                                                </div>
                                                                                <div class="col-lg-6 col-md-4">
                                                                                       <div class="enregisterbutton">
                                                                                          {{ form_widget(formNote.save) }}
                                                                                      </div>
                                                                                </div>
                                                                                <div class="col-md-1"></div>
                                                                         </div>
                                                                  </div>
                                                                  <div class="col-md-2"> </div>
                                                                  <div class="col-md-2"> </div>
                                                                  <div class="col-md-4"> </div>
                                                                  <div class="col-md-4"> </div>
                                                                  <div class="col-md-1"> </div>
                                                           </div>
                                                    </div>
                                             </div>
                                    {{ form_end(formNote) }}
                               </div>
                        </div>
                 </div>
          </div>
   </div>
</div>