    {% extends 'base.html.twig' %}

    {% block body %}
    	<div class="col-md-12 left_border contact1_background_col9">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="contacts1_text">
                    <h3 class="contact1h3">Entreprises</h3>
                </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <div class="contact3_input_container3">
                    <input class="contact-input-field3" type="text" placeholder="Rechercher..." name="email">
                    <i class="fas fa-search "></i>
                </div>
            </div>
        </div>        
        <div class="contact_form ">
            <div class="row justify-content-center ml-0 mr-0 mb-5">
                <div class="col-md-12 ">
                    <div class="row rounded border">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <h3 class="contact2_saisieh3 pt-4 ml-5">{{ entreprise.companyName }},<span class="contact3span">  {{ entreprise.SecteurActiviteId }} ({{ entreprise.companyPostcode }} {{ entreprise.companyCity }})</span> </h3>
                                </div>
                                <div class="col-md-7">
                                    <div class="row form_right_active_text">
                                        <div class="col-md-3"> </div>
                                        <div class="col-md-2 text-right mt-3">   <span> à jour </span></div>
                                        <div class="col-md-5 p-0 mt-3"> <span>Dernière mise à jour le  {{ entreprise.CompanyUpdatedAt|date('d/m/Y') }}</span></div>
                                            <div class="col-md-1 mt-3"><div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitches">
                                                <label class="custom-control-label" for="customSwitches"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pt-4 pb-5">
                                <div class="contact_formnav">
                                    <nav class="nav">
                                    <a class="nav-link active identite" href="#">Identité</a>
                                    <a class="nav-link contact" href="#">Contacts <span class="enterprise3_form_a">
                                    {{totalContact}}
                                    </span></a>
                                    <a class="nav-link note" href="#">Notes</a>
                                    <a class="nav-link " href="#">Historique</a>
                                </nav>
                            </div>
                        </div>
                        <div class=" col-md-12 block-identite block-company">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-2">
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <div class="contact_userimg">
                                        {% if entreprise.companyLogo != null %}
                                            <img  id="blah" src="../../uploads/company-img/{{entreprise.companyLogo}}" alt="your image" />
                                        {% else %}
                                            <img  id="blah" src="{{ asset("img/circle.png") }}" alt="your image" />
                                        {% endif %}
                                    </div>
                                    <div class="userimg_label2">
                                        {{ form_widget(form.companyFile) }}
                                        {{ form_errors(form.companyFile) }}
                                    </div>
                                </div>
                                <div class="col-md-10">
                                        <div class="row form_client">
                                            <div class="col-md-6">
                                                <div class="row ">
                                                    <div class="col-md-5 form_text">
                                                        <p>Compte suivi par</p>
                                                    </div>
                                                    <div class="col-md-7 input_select_main input_border_left">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.user_id) }}
                                                            {{ form_errors(form.user_id) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3 from_single_input">
                                                    <div class="col-md-5 form_text">
                                                        <p>Code entreprise</p>
                                                    </div>
                                                    <div class="col-md-7 input_border_left form-group code_client">
                                                        {{ form_widget(form.companyCode) }}
                                                        {{ form_errors(form.companyCode) }}
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Nom</p>
                                                    </div>
                                                    <div class="col-md-7 input_border_left prenom_input form-group ">
                                                        {{ form_widget(form.companyName) }}
                                                        {{ form_errors(form.companyName) }}
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Statut</p>
                                                    </div>
                                                    <div class="col-md-7 input_border_left input_select_main ">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.companyStatus) }}
                                                            {{ form_errors(form.companyStatus) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Activité (NAF)</p>
                                                    </div>
                                                    <div class="col-md-7 input_border_left input_select_main ">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.secteur_activite_id) }}
                                                            {{ form_errors(form.secteur_activite_id) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Statut juridique</p>
                                                    </div>
                                                    <div class="col-md-7  input_select_main ">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.statut_juridique_id) }}
                                                            {{ form_errors(form.statut_juridique_id) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>N° SIRET</p>
                                                    </div>
                                                    <div class="col-md-7  prenom_input form-group ">
                                                        {{ form_widget(form.companySiret) }}
                                                        {{ form_errors(form.companySiret) }}
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Effectifs</p>
                                                    </div>
                                                    <div class="col-md-7  input_select_main ">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.nb_salarie_id) }}
                                                            {{ form_errors(form.nb_salarie_id) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Chiffre d'affaires (M€)</p>
                                                    </div>
                                                    <div class="col-md-7  prenom_input form-group ">
                                                        {{ form_widget(form.companyCa) }}
                                                        {{ form_errors(form.companyCa) }}
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="row  ">
                                                    <div class="col-md-5 form_text">
                                                        <p>E-mail</p>
                                                    </div>
                                                    <div class="col-md-7 phone_input input-group ">
                                                        {{ form_widget(form.companyEmail) }}
                                                        {{ form_errors(form.companyEmail) }}
                                                    </div>
                                                </div>
                                                <div class="row pt-3 ">
                                                    <div class="col-md-5 form_text">
                                                        <p>Adresse</p>
                                                    </div>
                                                    <div class="col-md-7  phone_input input-group ">
                                                        {{ form_widget(form.companyAddress) }}
                                                        {{ form_errors(form.companyAddress) }}
                                                        <span class="input-group-addon phone_input_position"><i class="fas fa-map-marker-alt"></i></span>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Complément</p>
                                                    </div>
                                                    <div class="col-md-7  prenom_input form-group ">
                                                        {{ form_widget(form.companyCompAddress) }}
                                                        {{ form_errors(form.companyCompAddress) }}
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Code postal</p>
                                                    </div>
                                                    <div class="col-md-7  input_select_main ">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.companyPostcode) }}
                                                            {{ form_errors(form.companyPostcode) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Ville</p>
                                                    </div>
                                                    <div class="col-md-7  input_select_main ">
                                                        <div class="form-group matier_select">
                                                            {{ form_widget(form.companyCity) }}
                                                            {{ form_errors(form.companyCity) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pt-3 ">
                                                    <div class="col-md-5 form_text">
                                                        <p>Téléphone</p>
                                                    </div>
                                                    <div class="col-md-7  phone_input input-group ">
                                                     {{ form_widget(form.companyPhone) }}
                                                    {{ form_errors(form.companyPhone) }}
                                                    <span class="input-group-addon phone_input_position2"><i class="fas fa-phone"></i></span>
                                                    </div>
                                                </div>
                                                <div class="row pt-3 ">
                                                    <div class="col-md-5 form_text">
                                                        <p>Fax</p>
                                                    </div>
                                                    <div class="col-md-7  phone_input input-group ">
                                                        {{ form_widget(form.companyFax) }}
                                                        {{ form_errors(form.companyFax) }}
                                                        <span class="input-group-addon phone_input_position2"><i class="fas fa-print"></i></span>
                                                    </div>
                                                </div>
                                                <div class="row pt-3 ">
                                                    <div class="col-md-5 form_text">
                                                        <p>Site web</p>
                                                    </div>
                                                    <div class="col-md-7  phone_input input-group ">
                                                        {{ form_widget(form.companyWebsite) }}
                                                        {{ form_errors(form.companyWebsite) }}
                                                        <span class="input-group-addon phone_input_position2"><i class="fas fa-globe-americas"></i></span>
                                                    </div>
                                                </div>
                                                <div class="row pt-3">
                                                    <div class="col-md-5 form_text">
                                                        <p>Remarques</p>
                                                    </div>
                                                    <div class="col-md-7 contact_form_textarea  form-group ">
                                                    {{ form_widget(form.companyCommentary) }}
                                                    {{ form_errors(form.companyCommentary) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        <div class="col-md-12 pt-5">
                            <div class="row py-4"> 
                                <div class="col-md-3">
                                    <div class="retourbutton">
                                        <a href="/admin/company/list"><button  type="button" class="btn btn-primary"><i class="fas fa-arrow-left"></i> RETOUR </button></a>
                                    </div>
                                </div>      
                                <div class="col-md-1"></div>
                                <div class="col-md-3 pr-0">
                                    <div class="supprimebutton">
                                        <a href="/admin/company/delete/{{ entreprise.id }}">
                                        <button  type="button" class="btn btn-primary">SUPPRIMER</button>
                                    </a>
                                    </div>
                                </div>      
                                <div class="col-md-3">
                                    <div class="demandbutton">
                                        <button  type="button" class="btn btn-primary">DEMANDE DE MISE À JOUR</button>
                                    </div>
                                </div>      
                                <div class="col-md-2">  <div class="enregisterbutton">
                                    {{ form_widget(form.save) }}
                                </div></div>      
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div> 
                    {{ include('company/_note.html.twig') }}
                    {{ include('company/_contact.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function() {
        $('.note').click(function() {
            $('.block-identite').addClass('hide');
            $('.block-note').removeClass('hide');
            $('.block-contact').addClass('hide');
            $('.contact_formnav nav a').removeClass('active')
            $('.note').addClass('active')
        });
        $('.identite').click(function() {
            $('.block-identite').removeClass('hide');
            $('.block-note').addClass('hide');
            $('.block-contact').addClass('hide');
            $('.contact_formnav nav a').removeClass('active')
            $('.identite').addClass('active')
        });
        $('.contact').click(function() {
            $('.block-contact').removeClass('hide');
            $('.block-note').addClass('hide');
            $('.block-identite').addClass('hide');
            $('.contact_formnav nav a').removeClass('active')
            $('.contact').addClass('active')
        });
        $('#company-contact').DataTable({
            "lengthMenu": [[10, 25, 50, -1],
                ["10", "25", "50", "Toutes"]],
            "language": {
                "paginate": {
                    "previous": '<i class="fa fa-arrow-left"></i>',
                    "next": '<i class="fa fa-arrow-right"></i>'
                },
                searchPlaceholder: "Rechercher",
                search: "",
                "sSearch": '<a class="btn searchBtn" id="searchBtn"><i class="fa fa-search"></i></a>',
                sLengthMenu: "_MENU_",
                infoEmpty: "Aucunes données trouvées",
                "info": "",
            },
            "dom": '<"top"if>rt<"bottom"lp><"clear">'
        });
        
    });
    </script> 
{% endblock %}
