{% extends 'login.html.twig' %}

{% block body %}
    <section class="login_section1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="engine">
                        <img class="img-fluid" src="{{ asset("assests/img/photo3.png") }}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row justify-content-center login_logonfrom2 ">
                        <div class="col-md-5 ">
                            <div class="login_logonfrom">
                                <div class="login_logo">
                                    <img class="img-fluid w-75" src="{{ asset("assests/img/logo.png") }}" alt="">

                                </div>

                                <div class="login_rightform">
                                    {{ form_start(form) }}
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <p>Veuillez vous identifier</p>
                                    <div class="input-container login_input_container">
                                        <i class="fas fa-user login_icon"></i>
                                        {{ form_widget(form._username) }}
                                    </div>
                                    <div class="input-container login_input_container">
                                        <i class="fas fa-lock login_icon"></i>
                                        {{ form_widget(form._password) }}
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    {{ form_widget(form.save) }}
                                    <div class="login_buttonp">
                                        <p>Mot de passe oublié ?</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login_copyright">
                        <h5>
                            <span class="spanh5"> Smartleads © tous droits réservés | </span>Contactez le support
                            technique
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
